footer{
	background-color: Silver;
	color: white; 
	text-align: center;
	width: 100%;
	padding-bottom: 30px;
}

.column_footer{
	width: 40%;
	/*border: 1px solid red;*/
	padding: 5px;
	display: inline-block;
	vertical-align: top;
}

.a_footer{
	text-decoration: none;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	/*padding:10px;*/
	/*background-color: #efefdf;*/
}

.a_footer:hover{
	text-decoration:underline;
	/*color: #fc6d6c;*/
	cursor:pointer;
	font-weight:bold;
	/*background-color: #efefff;*/
}