body{
	margin: 0;
	padding: 0;
	background-color: #EEEEE;
	font-family: 'Roboto', sans-serif;
}

header{
	background-color:MediumSeaGreen; 
	text-align:center;
}

header h1{
	text-align:center;
}

header h4{
	text-align:center;
}

span{
	display:inline-block;
	padding:10px;
}

img{
	display:inline-block; 
	vertical-align:middle;
	padding:10px;
}

.foto{
	display:inline-block; 
	vertical-align:middle;
	padding:0px;
	box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
	transition: transform 2s, box-shadow 2s;
	transform: translateY(0px);
}

.foto:hover{
	transform: translateY(10px);
	box-shadow: 20px -10px 30px 0px rgba(0,0,0,0.99);
}

.column_header{
	padding: 10px;
	/*display: inline-block;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.row_header{
	padding: 10px;
	/*display: inline-block;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

main{
	padding:10px;
}

h2{
	text-align:center;
}

.section_title{
	background-color:DarkGreen;
	color:white;
	text-align:left;
}

.row_container{
	padding: 10px;
	/*display: inline-block;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.card1{
	background-color: WhiteSmoke;
	padding: 20px;
	width:60%;
	margin: 10px auto;
	border-radius:20px;
}

.card2{
	background-color: #D0FFFF;
	padding: 20px;
	width:60%;
	margin: 10px auto;
	border-radius:20px;
}

.h_topicos{
	background-color:DarkGreen; 
	color:white;
	display:inline-block;
	padding: 5px 20px;
	border-radius:10px;

}

.title_flag{
	background-color:DarkSlateGray; 
	color:white;
}

@media (max-width: 480px) {
	.column_header{
	padding: 0px;
	/*display: inline-block;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	}

	.row_header{
	padding: 10px;
	/*display: inline-block;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	}
	
	.card1{
	background-color: WhiteSmoke;
	padding: 20px;
	width:90%;
	margin: 10px auto;
	border-radius:20px;
	}

	.card2{
	background-color: #D0FFFF;;
	padding: 20px;
	width:90%;
	margin: 10px auto;
	border-radius:20px;
	}
}